.cart-overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 90%;
    transition: all 0.3s linear;
    z-index: 999;
    visibility: hidden;
}

.cart {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 1000;
    padding: 1.5rem;
    transition: all 0.3s linear;
    transform: translateX(100%);
    overflow: scroll;
}

.showCart {
    transform: translateX(0);
}

.transparentBcg {
visibility: visible;
}

.close-cart{
    color: black;
    margin-top: 300px;

    .icon-close{
        font-size: 27px;
    }
}


@media screen and (min-width: 768px) {
    .cart {
        width: 30vw;
        min-width: 450px;
    }
}

.cart-content img{
    margin-top: 10px;
    width: 30%;
}

.cart-footer{
    margin-top: 50px;
 text-align: center;
}

.clear-cart{
    border-radius: 10px;
    border-color: whitesmoke;
    color: black;
    background: rgb(241, 241, 239) ;
    padding: 8px;
}

.cart-item{
    @include display-type(flex,row,wrap,space-between,center);
    background-color: whitesmoke;
    margin-top: 5px;

}