

/* ABOUT SECTION */

#about-section {
    background-color: rgb(34, 34, 34);
    padding-bottom: 50px;

    h3{
      color: whitesmoke;
    }

    img{
      height: 90%;
      margin-top: 100px;
    }

    .about-text{
        font-family: "Times New Roman", Times, serif;
        padding: 30px 20px;
        color: #d3d0d0;
        margin-right: 30px;
        margin-top: 90px;
        font-size: 18px;

        @media only screen and (max-width: 1160px) {
          margin-top: 40px;
        }
    }
}

  