
/* HOME SECTION */

.home-section{
    width: 100%;
    height: 100%;
    background-position: var(--main-position);

    .home-vid{
      margin-top: 90px;
      opacity: 0.9;

      @media only screen and (max-width: 500px){
        margin-top: 250px
      }
    }

    .link-for-sale{
      @extend %link-woman;
      color: whitesmoke;
      background-color:rgb(26, 26, 26);
      border: 2px solid rgb(85, 84, 84);
      
      @media screen and (max-width: 600px) {
          width:50%;
      }

      &:hover{
        opacity: 0.7;
      }
    }
}
